body {
  font-family: 'Roboto', sans-serif;
}

#head-nav {
  padding: 20px 0;
  background-color: #52D5FD;
}

#head-nav a {
  text-decoration: none;
  color: #fff;
}

#head-nav h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
}

/* -------------------------------- */

#search-section {
  margin-top: 50px;
}

#search-section .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#search-section button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #52D5FD;
}

.search-query:hover + .input-group-btn {
  z-index: 999;
}

.search-query:focus {
  border-color: #52D5FD;
}

.search-query:focus + .input-group-btn {
  z-index: 999;
}

.input-group-btn button {
  font-size: 1.2rem;
}

/* -------------------------------- */

#job-list {
  margin-top: 40px;
}

.job {
  padding: 20px 0px;
  border-top: #EDEDED solid 1px;
}

.job .job-title {
  font-weight: bold;
}

.job .job-title a {
  text-decoration: none;
  color: #555;
}

.job .job-title a:hover {
  color: #333;
}

.job .company-name {
  color: #333;
}

.job .location {
  color: #ABABAB;
}

.job .time {
  color: #ABABAB;
}

.job .job-description {
  margin-top: 10px;
  color: #999;
}

.job-detail .job-meta-data {
  color: #ABABAB;
}

/* -------------------------------- */

#footer {
  margin-top: 40px;
  color: #fff;
  padding: 20px 0;
  background-color: #52D5FD;
  letter-spacing: 2px;
  font-weight: lighter;
}
